* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif;
}

#pg1 {
    height: 100%;
    width: 100%;
    /*  background-color: rgb(21, 34, 77);*/
}

#pg1 #nav {
    height: 120px;
    width: 100%;
    /*  background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1 {
    width: 27%;
    /*  background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4 {
    font-size: 14px;
    font-weight: 500;
}

#nav img {
    height: 110px;
}

#nav-part2 {
    width: 30%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex end;
}

#nav-part2 button {
    padding: 15px 22px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#pg1 #content {
    height: calc(100% - 120px);
    width: 100%;
    background-color: burlywood;
}